.background{
    background: rgb(19, 28, 40);;
    margin:0px;
}
.head{
    color:white;
    text-align: center;
}
.btn-margin{
    margin-bottom: 10px;
}
.dark{
    background-color:rgb(17,24,39);
    padding-bottom: 1%;
}
.rmargin{
    margin-left:10px;
}
.stylebar{
    background-color:gold;
   border:1px solid black;
}
.upperspace
{
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
}
.name{
    text-align: center;
    margin-top: 1%;
    color: white;
}